* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkblue;
  color: whitesmoke;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
